/* website font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&dis        play=swap');
*{
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
margin: 0;
padding: 0;
}
 /* nav start  */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px;
}
.icon-image-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-heading{
    display: flex;

}
.header-image{
    margin-right: 25px;
}
.nav-special{
    color: #FF42A5;
}
.nav-title{
   font-size: 45px;
   font-weight: 700;
}
.nav-component, .nav-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-heading li, .nav-icon li{
    list-style: none;

}
.nav-heading li a{
    margin-right: 25px;
    font-weight: 500;

}
.nav-icon{
    
    border-radius: 7px;
background: rgba(11, 2, 35, 0.10);
padding: 14px 30px;

}
 /* nav end  */

/* goat section  */
.goat-part{
    display:flex ;
    justify-content: space-between;
    align-items: center;
   
    
    
}

.total-goat{
    background-image: url("../images/Group\ 14.png");
    background-size: contain;
    padding: 200px 200px;
    height: auto;
    background-repeat: no-repeat;
    width: 100%;
}
.goat-title{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}
.goat-description{
    text-align: center;
font-family: Work Sans;
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.goat-content li{
    list-style: none;
    color: #534C64;
text-align: left;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
}
.first-button{
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
.second-button{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

}
.goat-button{
    margin-top: 15px;
}
.goat-image img{
    width: 600px;
    margin-bottom: 25%;
}
/* end goat  */
/* online game  */

.game-title{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
}
.game-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.game-description{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
margin-bottom: 40px;
}

.online-game-title{
    display: flex;
    justify-content: space-around;
}
.online-game-img{
    
    gap: 30px;
    width: 342px;
height: 400px;
display: flex;
margin-left:2%;
border-radius: 15px;
}
.online-game-title{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
line-height: 30px;
margin-top: 15px;
}
/* end online game  */

