/* website font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&dis        play=swap');
*{
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
margin: 0;
padding: 0;
}
 /* nav start  */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px;
}
.icon-image-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-heading{
    display: flex;

}
.header-image{
    margin-right: 25px;
}
.nav-special, .footer-image-title h1 span{
    color: #FF42A5;
}
.nav-title{
   font-size: 45px;
   font-weight: 700;
}
.nav-component, .nav-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-heading li, .nav-icon li{
    list-style: none;

}
.nav-heading li a{
    margin-right: 25px;
    font-weight: 500;

}
.nav-icon{
    
    border-radius: 7px;
background: rgba(11, 2, 35, 0.10);
padding: 14px 40px;
display: flex;
justify-content:center ;
align-items: center;

}
.nav-icon ul{
    row-gap: 10px;
}

 /* nav end  */

/* goat section  */
.goat-part{
    display:flex ;
    justify-content: space-between;
    align-items: center;
   
    
    
}

.total-goat{
    background-image: url("../images/Group\ 14.png");
    background-size: contain;
    padding: 200px 200px;
    height: auto;
    background-repeat: no-repeat;
    width: 100%;
}
.goat-title{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}
.goat-description{
    text-align: center;
font-family: Work Sans;
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.goat-content li{
    list-style: none;
    color: #534C64;
text-align: left;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
}
.first-button{
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
.second-button{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

}
.goat-button{
    margin-top: 15px;
}
.goat-image img{
    width: 600px;
    margin-bottom: 25%;
}
/* end goat  */
/* online game  */

.game-title{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
}
.game-title span, .instant-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.game-description{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
margin-bottom: 40px;
}

.online-game-title{
    display: flex;
    justify-content: space-around;
}
.online-game-img{
    
    gap: 30px;
    width: 342px;
height: 400px;
display: flex;
margin-left:2%;
border-radius: 15px;
}
.online-game-title{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
line-height: 30px;
margin-top: 15px;
}
.online-game-img-special{
    background-image: url("../logo/play-button 1.png");
}
/* end online game  */
/* instant game  */
.instant-play{
   display: flex;
   margin-top: 15%;
   justify-content: space-around;
   width: 100%;

}
.instant-title{
   text-align: right;
   margin-top: 250px;
   margin-left: 100px;   
}
.instant-title h1{
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 60px;
}
.instant-description{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}
.instant-img img{
    border-radius: 8px;
}
.instant-img-two img{
    position: relative;
    width: 250px;
    height: 300px;
    bottom: 200px;
    margin-right: 140px;

}
 /* end instant game  */
 /* catagory section  */

.catagory{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 3%;
    padding: 100px 250px;

}
.all-catagory{
    display: flex;
    justify-content: center; 
    width: 100%;
    gap: 20px;
}
.catagory-button{
    border: 1px solid #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 40px;
    border-radius: 40px;
   gap: 20px;
   
}

/* footer section  */
.footer-all{
    background-color: #0B0223;
    /* width: 100%; */
    height: auto;
    text-align: center;
    padding: 50px 250px;
}
.footer-image-title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
}
.footer-image-title h1{
    text-align: center;
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
color: #FFF;
margin-left: 20px;
}
.footer-nav >ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nav li{
    color: #FFF;
    list-style: none;
    margin-left: 30px;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    row-gap: 20px;
}
.condition ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
.condition li{
    list-style: none;
    margin-left: 30px;
    margin-top: 20px;
}
.footer-last-title{
    color: #FFF;
    margin-top: 20px;
}
/* footer end  */



@media screen and (max-width:576px) {
   
    
}

